# Fake Data Generator

## Setup

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
from faker import Faker
import random

# Initialize Faker for generating realistic usernames
faker = Faker()

# Extract the range of dates from the sample data for the 'created_at' attribute
date_range_start = pd.to_datetime("2014-01-01 00:00:00")
date_range_end = pd.to_datetime("2024-12-31 23:59:59")

/Users/Anaqi_Amir/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Users

In [3]:
# Function to generate synthetic usernames based on patterns from the sample data
def generate_username():
    return faker.user_name()

# Function to generate synthetic timestamps within the desired range
def generate_user_timestamp():
    return faker.date_time_between(start_date=date_range_start, end_date=date_range_end).strftime('%Y-%m-%d %H:%M:%S')

# Generate synthetic data
synthetic_user_data = pd.DataFrame({
    'id': range(1, 10001),
    'username': [generate_username() for _ in range(10000)],
    'created_at': [generate_user_timestamp() for _ in range(10000)]
})

# Display the first few rows of the synthetic data
synthetic_user_data.head()

   id       username           created_at
0   1     jennifer19  2024-01-11 16:47:12
1   2       daniel41  2022-03-22 20:50:21
2   3        rguzman  2015-04-24 10:44:13
3   4  marcialindsey  2014-05-12 03:57:35
4   5     kimberly55  2015-01-08 06:43:08

# Photos

In [4]:
# Function to generate synthetic image urls
def generate_image_url():
    return faker.image_url()

# Function to generate user id based on user column
def generate_user_id():
    return random.randint(synthetic_user_data['id'].min(), synthetic_user_data['id'].max())

# Function to generate synthetic timestamps within the desired range
def generate_image_timestamp(user_created_at):
    return faker.date_time_between(start_date=user_created_at, 
                                   end_date=date_range_end).strftime('%Y-%m-%d %H:%M:%S')

# Generate synthetic data
synthetic_image_data = pd.DataFrame({
    'id': range(1, 75001),
    'image_url': [generate_image_url() for _ in range(75000)],
    'user_id': [generate_user_id() for _ in range(75000)],
    'created_at': [None] * 75000 # Placeholder for timestamps
})

# Generating timestamps where the start time has to be after the user has created their profile
for index, row in synthetic_image_data.iterrows():
    user_created_at = synthetic_user_data.loc[synthetic_user_data['id'] == row['user_id'], 'created_at'].values[0]
    user_created_at = pd.to_datetime(user_created_at)
    synthetic_image_data.at[index, 'created_at'] = generate_image_timestamp(user_created_at)

# Display data
synthetic_image_data.head()

   id                       image_url  user_id           created_at
0   1  https://dummyimage.com/730x226     2953  2017-12-28 15:46:30
1   2   https://picsum.photos/648/301     6881  2024-02-20 05:22:06
2   3   https://picsum.photos/882/805     7729  2024-03-20 10:43:08
3   4  https://dummyimage.com/287x714      644  2015-03-01 09:44:58
4   5   https://picsum.photos/888/789     1811  2022-06-04 08:10:33

## Tags

In [21]:
# Create a list of hashtags categorized as requested
tags = [
    "love", "instagood", "photooftheday", "fashion", "beautiful", "happy", "cute", "tbt", "followme", "picoftheday",
    "nature", "landscape", "sunset", "sunrise", "sky", "mountains", "ocean", "waterfall", "beach", "forest",
    "travel", "wanderlust", "explore", "adventure", "vacation", "travellife", "roadtrip", "instatravel", "travelgram", "tourism",
    "fitness", "workout", "gym", "fitfam", "fitlife", "health", "motivation", "fitnessmotivation", "yoga", "crossfit",
    "food", "foodie", "yummy", "delicious", "foodporn", "instafood", "homemade", "healthyfood", "coffee", "breakfast",
    "style", "outfitoftheday", "streetstyle", "fashionblogger", "styleinspo", "ootd", "fashionista", "mensfashion", "womensfashion", "accessories",
    "art", "drawing", "painting", "artist", "illustration", "artwork", "creative", "digitalart", "photography", "design",
    "music", "dance", "dj", "concert", "livemusic", "singer", "songwriter", "hiphop", "guitar", "drums",
    "fun", "party", "friends", "memes", "instafun", "comedy", "weekend", "goodvibes", "selfie", "bestoftheday",
    "family", "love", "momlife", "dadlife", "siblings", "relationshipgoals", "couple", "wedding", "engagement", "friendship",
    "inspiration", "quoteoftheday", "motivation", "goals", "positivevibes", "believe", "success", "mindset", "dreambig", "hustle",
    "tech", "technology", "smartphone", "gaming", "gadget", "electronics", "innovation", "computer", "programming", "developer",
    "sports", "soccer", "basketball", "football", "baseball", "running", "cycling", "swimming", "tennis", "golf",
    "cars", "carsofinstagram", "supercars", "motorcycle", "biker", "racing", "classiccars", "carlover", "vintagecars", "offroad",
    "animals", "pets", "dogsofinstagram", "catsofinstagram", "puppylove", "kitten", "wildlife", "petstagram", "animallovers", "birdsofinstagram",
    "summer", "winter", "spring", "autumn", "holiday", "christmas", "halloween", "newyear", "easter", "thanksgiving",
    "business", "entrepreneur", "startup", "marketing", "socialmedia", "branding", "ecommerce", "smallbusiness", "sales", "digitalmarketing",
    "photography", "photo", "camera", "portrait", "photoshoot", "photographer", "landscapephotography", "streetphotography", "naturephotography", "blackandwhite",
    "quotes", "lifequotes", "lovequotes", "motivationalquotes", "quote", "inspirationalquotes", "wordsofwisdom", "positivity", "thoughts", "wisdom",
    "funny", "jokes", "lol", "hilarious", "humor", "funnytweets", "meme", "laugh", "silly", "comedy",
    "instadaily", "daily", "bestoftheday", "like4like", "follow4follow", "instamood", "nofilter", "blackandwhite", "vintage", "retro",
    "selfcare", "selflove", "wellness", "mindfulness", "meditation", "growth", "personaldevelopment", "motivate", "lifecoach", "mentalhealth",
    "event", "celebration", "partytime", "birthday", "anniversary", "festival", "gathering", "gettogether", "nightlife", "club",
    "strong", "fit", "noexcuses", "trainhard", "cardio", "fitnessjourney", "healthyliving", "weightloss", "progress", "gymtime",
    "paradise", "cityscape", "destination", "getaway", "exploring", "bucketlist", "localtravel", "worldtravel", "globetrotting", "traveladdict"
]

date_range_end_for_tags = pd.to_datetime("2019-12-31 23:59:59")

# Function to generate synthetic timestamps within the desired range
def generate_tags_timestamp():
    return faker.date_time_between(start_date=date_range_start, 
                                   end_date=date_range_end_for_tags).strftime('%Y-%m-%d %H:%M:%S')

# Create a DataFrame from the list of hashtags
synthetic_tag_data = pd.DataFrame({
    'id': range(1,251),
    'tag_name': tags,
    'created_at': [generate_tags_timestamp() for _ in range(250)]
})

synthetic_tag_data.head()

   id       tag_name           created_at
0   1           love  2016-03-25 20:37:41
1   2      instagood  2014-05-26 01:47:42
2   3  photooftheday  2016-12-30 17:53:42
3   4        fashion  2017-08-27 19:09:11
4   5      beautiful  2019-11-14 15:05:16

## Photo Tags

In [9]:
# Function to generate user id based on user column
def generate_photo_id():
    return random.randint(synthetic_image_data['id'].min(), synthetic_image_data['id'].max())

# Function to generate user id based on user column
def generate_tag_id():
    return random.randint(synthetic_tag_data['id'].min(), synthetic_tag_data['id'].max())

# Generate synthetic data
synthetic_photo_tag_data = pd.DataFrame({
    'photo_id': [generate_photo_id() for _ in range(150000)],
    'tag_id': [generate_tag_id() for _ in range(150000)]
})

synthetic_photo_tag_data.head()

   photo_id  tag_id
0     61391     223
1     37150     135
2      4262     122
3     73068      58
4     50405     175

In [22]:
counter = 0
# Deleting invalid rows (those where the pictures are older than the tags)
for index, row in synthetic_photo_tag_data.iterrows():
    if (synthetic_image_data.loc[synthetic_image_data['id'] == row['photo_id'], 'created_at'].values[0] <
         synthetic_tag_data.loc[synthetic_tag_data['id'] == row['tag_id'], 'created_at'].values[0]):
        #print(row)
        counter += 1
        
print(counter)

141751

## Likes

In [50]:
def generate_user_id():
    return random.randint(synthetic_user_data['id'].min(), synthetic_user_data['id'].max())

def generate_image_id():
    return random.randint(synthetic_image_data['id'].min(), synthetic_image_data['id'].max())

def generate_like_timestamp(created_at):
    return faker.date_time_between(start_date=created_at, 
                                   end_date=date_range_end).strftime('%Y-%m-%d %H:%M:%S')

# Generate synthetic data
synthetic_like_data = pd.DataFrame({
    'user_id': [generate_user_id() for _ in range(50)],
    'photo_id': [generate_image_id() for _ in range(50)],
    'created_at': [None] * 50 # Placeholder for timestamps
})

# Generating timestamps where the start time has to be after the user has created their profile
for index, row in synthetic_like_data.iterrows():
    user_created_at = synthetic_user_data.loc[synthetic_user_data['id'] == row['user_id'], 'created_at'].values[0]
    image_created_at = synthetic_image_data.loc[synthetic_image_data['id'] == row['photo_id'], 'created_at'].values[0]
    created_at = user_created_at if user_created_at < image_created_at else image_created_at
    created_at = pd.to_datetime(created_at)
    synthetic_like_data.at[index, 'created_at'] = generate_like_timestamp(created_at)

# Display data
synthetic_like_data.head()

   user_id  photo_id           created_at
0     7302     71281  2024-11-26 05:02:55
1     3225     27949  2018-12-06 08:27:07
2     5183     48356  2020-03-02 01:52:35
3     2521     51492  2017-07-05 22:01:09
4     4625      9860  2019-07-20 22:44:54

## Comments

In [74]:
# Merging tables to get tags of photos
photo_with_tags = synthetic_image_data.merge(synthetic_photo_tag_data, how='inner',left_on='id',right_on='photo_id')
photo_with_tags = photo_with_tags.merge(synthetic_tag_data, how='inner', left_on='tag_id', right_on='id')
photo_with_tags[['photo_id','tag_name']].head()

# Function to generate user id based on user column
def generate_user_id():
    return random.randint(synthetic_user_data['id'].min(), synthetic_user_data['id'].max())

# Function to generate photo id based on photo column
def generate_photo_id():
    return random.randint(synthetic_image_data['id'].min(), synthetic_image_data['id'].max())

# Function to generate comment based on hashtags
def generate_comment():
    num_of_comments = abs(round(np.random.normal(15, 15, size=(1,1))[0][0]))
    print(num_of_comments)
    
    # Step 1) create num_of_comments that should be random
    # Step 2) each comment should be either:
    #          a) be something simple ie. wow!, very pretty! cool, love this, so cute
    #          b) be something that uses the tags to write a comment (range = (3 words, 20 words), 
    #                                                                 heavily skewed to around mean=7)

    
synthetic_comment_data = pd.DataFrame({
    'id': range(1,501),
    'comment': [None] * 500,
    'photo_id': [generate_photo_id() for _ in range(500)],
    'user_id': [generate_user_id() for _ in range(500)],
    'created_at': [None] * 500
})

for index, row in synthetic_comment_data.iterrows():

21
35
15
4
3
16
6
14
4

## Follows

In [75]:
# Function to generate user id based on user column
def generate_user_id():
    return random.randint(synthetic_user_data['id'].min(), synthetic_user_data['id'].max())

def generate_follows_timestamp(created_at):
    return faker.date_time_between(start_date=created_at, 
                                   end_date=date_range_end).strftime('%Y-%m-%d %H:%M:%S')

synthetic_follows_data = pd.DataFrame({
    'follower_id': [generate_user_id() for _ in range(50000)],
    'followee_id': [generate_user_id() for _ in range(50000)],
    'created_at': [None] * 50000
})

# Generating timestamps where the start time has to be after the user has created their profile
for index, row in synthetic_like_data.iterrows():
    follower_created_at = synthetic_user_data.loc[synthetic_user_data['id'] == row['user_id'], 'created_at'].values[0]
    followee_created_at = synthetic_user_data.loc[synthetic_user_data['id'] == row['user_id'], 'created_at'].values[0]
    created_at = follower_created_at if follower_created_at < followee_created_at else followee_created_at
    created_at = pd.to_datetime(created_at)
    synthetic_follows_data.at[index, 'created_at'] = generate_follows_timestamp(created_at)

# Display data
synthetic_follows_data.head()

   follower_id  followee_id           created_at
0         5954         1953  2024-11-14 18:18:37
1         1034         1704  2019-07-17 20:59:18
2         9392         8060  2020-10-26 05:44:45
3         7296         1452  2017-03-23 04:09:09
4         1023         5358  2024-10-29 05:32:32